@import "../../../theme/variables.scss";
ion-content{
  --background:var(--ion-color-light);
  position:relative;
}
.toolbar{
  padding:15px;
  width:100%;
  height:15%;
  border-radius: 0px 0px 0px 45px;
  background:var(--ion-color-medium);
  position:absolute;
  display:flex;
  justify-content:center;
  align-items:center;
}
.back{
  width:50%;
  height: 100%;
  position:absolute;
  right:0;
  background:var(--ion-color-medium);
}
.content{
  width:100%;
  height: 85%;
  border-radius: 0px 50px 0px 0px;

  position:absolute;
  top:15%;
  background:var(--ion-color-light);
}
.title{

  font-size:20px;
  font-weight:bold;
letter-spacing: 2px;
}
.dark{
  font-size:20px;
  font-weight:bold;
}
.darkmode{
  padding-top:30px;
  padding-left: 10px;

  padding-right:10px;
  display:flex;
  justify-content:space-between;
}
ion-toggle {
  height: 20px;
  width: 40px;
}

