
<ion-content [fullscreen]="true">
  <div class="back" ></div>
  <div class="toolbar">
    <div  class="filename">
      <h1  class="fname">{{fileName}}</h1>
    </div>

  </div>
  <div class="content">
    <div class="main">
        <div class="title">
            <ion-grid class="ion-no-padding">
              <ion-row class="ion-no-padding">
                  <ion-col size=12 class="ion-no-padding">
                      ENTER SECURITY CODE
                  </ion-col>
              </ion-row>
            </ion-grid>
        </div>
        <div class="inputBox">
          <ion-grid class="ion-no-padding">
            <ion-row class="ion-no-padding">
                <ion-col size=12 class="ion-no-padding">
                    <div  class="typeInput">
                      <input  type="number" class="input  inputcheck" #i1 id="input1" [(ngModel)]="input1"  onKeyPress="if(this.value.length==1) return false;" (keyup)='move(i1,i1, i2,$event)'  name="input1"/>
                      <input  type="number"class="input inputcheck"  #i2 id="input2" [(ngModel)]="input2"  onKeyPress="if(this.value.length==1) return false;" (keyup)='move(i1,i2, i3,$event)' name="input1"/>
                      <input  type="number" class="input inputcheck" #i3 id="input3" [(ngModel)]="input3"  onKeyPress="if(this.value.length==1) return false;" (keyup)='move(i2,i3, i4,$event)' name="input1"/>
                      <input type="number" class="input inputcheck" #i4 id="input4" [(ngModel)]="input4"  onKeyPress="if(this.value.length==1) return false;" (keyup)='move(i3,i4, i5,$event)' name="input1"/>
                      <input  type="number" class="input inputcheck" #i5 id="input5" [(ngModel)]="input5"  onKeyPress="if(this.value.length==1) return false;" (keyup)='move(i4,i5, i6,$event)' name="input1"/>
                      <input type="number" class="input inputcheck" #i6 id="input6" [(ngModel)]="input6"  onKeyPress="if(this.value.length==1) return false;" (keyup)='move(i5,i6, i6,$event)' name="input1"/>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <div class="showBtn">
                  <div class="show" *ngIf="!isDisplay"   (click)="switchEye()">
                    <ion-icon name="eye"></ion-icon><span class="showText">{{showbutton}}</span>
                  </div>
                  <div class="show" *ngIf="isDisplay"  (click)="switchEye()">
                    <ion-icon name="eye-off"></ion-icon><span class="showText">{{showbutton}}</span>
                  </div>
                  <ion-grid>
                    <ion-row>
                      <ion-col size="12" class="ion-text-center">
                        <ion-button color="warning" (click)="closeModal()" [disabled]="(i1.value.length !==1)||(i2.value.length !== 1 ) || (i3.value.length !== 1 )||(i4.value.length !== 1) || (i5.value.length !== 1)||(i6.value.length !== 1)" >Upload   <ion-icon name="cloud-upload"></ion-icon></ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
    </div>
  </div>
</ion-content>
