<ion-content [fullscreen]="true"></ion-content>
<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab(t1,t2,t3)">

  <ion-tab-bar slot="bottom"  >
    <ion-tab-button tab="files">
      <div #t1 class="addIcon">
        <ion-icon class="inactiveTab" name="home"></ion-icon>
      </div>
    </ion-tab-button>

    <ion-tab-button class="centerTab" tab="add">
      <div #t2 class="addIcon">
        <ion-icon class="addcircle" name="add-circle"></ion-icon>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <div #t3 class="addIcon">
        <ion-icon class="inactiveTab" name="settings"></ion-icon>
      </div>
    </ion-tab-button>


  </ion-tab-bar>

</ion-tabs>
